div{
    text-align: center;
}

body{
    background-color: rgb(45, 0, 100);
}

#grid{
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 100px;
}

.grid-item {
    font-size: 20px;
    color: white;
    padding: 20px;
    text-align: center;
}
